{% extends 'main.html'%}
{% load static %}
{% block headcontent %}
{% include 'head.html' with title="Installers App| Create enginroom" %}
{% endblock %}
{% block content %}
<!-- <td>${obj.installer_usernames.join(', ')}</td> -->
<br>
<a class="btn btn-primary rtl-txt" style="font-family: vazir" href="/create-enginroom/" style="margin: 10px;">افزودن موتورخانه</a>
<br><br>
<table class="table table-hover rtl-txt " id="enginroom-list">
    {% csrf_token %}
    <thead>
        <tr>
            <th scope="col">نام موتورخانه</th>
            <th scope="col">سازمان</th>
            <th scope="col">نهاد</th>
            <th scope="col">نام ایجادکننده</th>
            <th scope="col">تکمیل اطلاعات</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<script>
    $(document).ready(function () {
        function listOfEnginroom(resp) {
            const tableBody = $('#enginroom-list tbody');
            tableBody.empty()
            resp.forEach(function (obj) {
                const row = `
            <tr id="enginroom${obj.id}">
                <td>${obj.enginroom_name}</td>
                <td>${obj.organization}</td>
                <td>${obj.administration}</td>
                <td>${obj.creator_username}</td>
                <td><a class="btn btn-sm" href="/create-installation/">تکمیل</a></td>
                
                <td >
                        <a class="btn btn-sm btn-danger" id="delete-btn" data-id="${obj.id}"><img width="20" height="20" src="{% static 'icons/icons8-trash-24.png' %}" alt="trash"/></a>

                        <a class="btn btn-sm btn-warning" href="/update-enginroom/${obj.id}"><img width="20" height="20" src="{% static 'icons/icons8-pencil-50.png' %}" alt="pencil"/></a>
                    </td>
                </tr>
            `;
                tableBody.append(row);
            });
        }
        $.ajax({
            type: "GET",
            url: "/api/enginroom/",
            success: function (response) {
                listOfEnginroom(response)
            },
            error: function (error) {
                console.error('Error fetcing Enginroom details:', error.reponseJSON);

            }
        });


        $(document).on('click', '#delete-btn', function (e) {
            e.preventDefault();
            const id = $(this).data('id');
            console.log(id);
            $.ajax({
                method: 'DELETE',
                url: `/api/enginroom/${id}/`,
                headers: {
                    'X-CSRFToken': $('[name=csrfmiddlewaretoken]').val()
                },
                success: function (response) {
                    $(`#enginroom${id}`).fadeOut();
                    console.log(response);
                },
                error: function (error) {
                    console.error('Error deleting enginroom:', error);
                }
            })
        })
    });
</script>
{% endblock content %}