{% extends 'main.html'%}
{% load static %}
{% block headcontent %}
{% include 'head.html' with title="Installers App| Create Installers" %}
{% endblock %}
{% block content %}
<style>
    .x {
        display: flex;
        flex-direction: column;
        padding: 15px 20px;
        transition: var(--tran-05);
    }
</style>
<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="{% static 'images/logo-romak.jpg'%}" alt="">
        </div>
        <span class="logo_name">روماک سیستم</span>
    </div>
    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="/dashboard/">
                    <i class="bi bi-house-door"></i>
                    <span class="link-name">داشبورد</span>
                </a></li>



            <li><a href="/enginrooms/">
                    <i class="bi bi-map"></i>
                    <span class="link-name">لیست موتورخانه ها</span>
                </a></li>
            <li><a href="/create-user/">
                    <i class="bi bi-person-add"></i>
                    <span class="link-name">افزودن کاربر جدید</span>
                </a></li>



        </ul>

        <ul class="logout-mode">
            <li><a id="logout-btn" href="/api/logout-user/">
                    <i class="bi bi-box-arrow-right"></i>
                    <span class="link-name">خروج</span>
                </a></li>
            <li class="mode">
                <a href="#">
                    <i class="bi bi-moon"></i>
                    <span class="link-name"></span>
                </a>
                <div class="mode-toggle">
                    <span class="switch"></span>
                </div>
            </li>
        </ul>
    </div>
</nav>
<section class="dashboard">
    <div class="top">
        <i class="bi bi-list sidebar-toggle"></i>
        <div class="search-box">
           
        </div>

        <ul class="dropdown-menus">
            <li>
                <a href="#"><img src="{% static 'images/profile_images/default_user.jpg'%}" alt="" id="profile-image">
                    {{request.session.username}}
                </a>

                <ul class="js-sub-menu sub-menu">
                    <li><a href="/profile/">پروفایل</a></li>
                    <li><a href="/change-password">تغییر رمزعبور</a></li>
                    <li><a href="" id="logout-btn">خروج</a></li>
                </ul>
            </li>
        </ul>
    </div>
<div class="container">

    
    <header>ایجاد کاربر جدید</header>
    <form>
        <div class="field email-field">
            <div class="input-field">
                <!-- <label>نام کاربری</label> -->
                <input type="email" class="email" placeholder="نام کاربری"/>
            </div>
            <span class="error email-error">
                <i class="uil bi-info-circle"></i>
                <p class="error-text">نام کاربری خود را وارد کنید</p>
            </span>
        </div>
        <div class="field create-password">
            <div class="input-field">
                <!-- <label>رمزعبور</label> -->
                <input type="password" class="password" placeholder="رمزعبور"/>
                <i class="uil bi-eye-slash show-hide"></i>
            </div>
            <span class="error password-error">
                <i class="uil bi-info-circle"></i>
                <p class="error-text">

                    رمزعبور شما باید حداقل ۸ کاراکتر به همراه اعداد حروف کوچک و بزرگ و کاراکترهای خاص باشد
                </p>
            </span>
        </div>
        <div class="field confirm-password">
            <div class="input-field">
                <!-- <label>تاییدیه رمزعبور</label> -->
                <input type="password" class="cPassword" placeholder="تاییدیه رمزعبور"/>
                <i class="uil bi-eye-slash show-hide"></i>
            </div>
            <span class="error cPassword-error">
                <i class="uil bi-info-circle"></i>
                <p class="error-text">رمزعبور تطابق ندارد</p>
            </span>
        </div>
        <div class="field create-role">
            <div class="input-field">
                <label>نقش کاربر</label>
                <select class="form-select" aria-label="Default select example" class="role">
                    <option hidden></option>
                    <option value="user">کاربر</option>
                    <option value="admin">مدیر</option>
                </select>
            </div>
            <span class="error password-error">
                <i class="uil bi-info-circle" style="margin-top: 8px;"></i>
                <p class="error-text">
                    رمزعبور شما باید حداقل ۸ کاراکتر به همراه اعداد حروف کوچک و بزرگ و کاراکترهای خاص باشد
                </p>
            </span>
        </div>
        <div class="input-field button">
            <input type="submit" value="ثبت" />
        </div>
    </form>

</div>
</section>
<script src="{% static 'js/togglesidebar.js'%}"></script>
<script>

    const form = document.querySelector("form"),
        emailField = form.querySelector(".email-field"),
        emailInput = emailField.querySelector(".email"),
        passField = form.querySelector(".create-password"),
        passInput = passField.querySelector(".password"),
        role_field = 
        cPassField = form.querySelector(".confirm-password"),
        cPassInput = cPassField.querySelector(".cPassword");
    function checkEmail() {
        const emaiPattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;
        if (!emailInput.value.match(emaiPattern)) {
            return emailField.classList.add("invalid"); //adding invalid class if email value do not mathced with email pattern
        }
        emailField.classList.remove("invalid"); //removing invalid class if email value matched with emaiPattern
    }
    const eyeIcons = document.querySelectorAll(".show-hide");
    eyeIcons.forEach((eyeIcon) => {
        eyeIcon.addEventListener("click", () => {
            const pInput = eyeIcon.parentElement.querySelector("input"); //getting parent element of eye icon and selecting the password input
            if (pInput.type === "password") {
                eyeIcon.classList.replace("bi-eye-slash", "bi-eye");
                return (pInput.type = "text");
            }
            eyeIcon.classList.replace("bi-eye", "bi-eye-slash");
            pInput.type = "password";
        });
    });
    function createPass() {
        const passPattern =
            /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
        if (!passInput.value.match(passPattern)) {
            return passField.classList.add("invalid"); //adding invalid class if password input value do not match with passPattern
        }
        passField.classList.remove("invalid"); //removing invalid class if password input value matched with passPattern
    }
    function confirmPass() {
        if (passInput.value !== cPassInput.value || cPassInput.value === "") {
            return cPassField.classList.add("invalid");
        }
        cPassField.classList.remove("invalid");
    }
    // Calling Funtion on Form Sumbit
    form.addEventListener("submit", (e) => {
        e.preventDefault(); //preventing form submitting
        checkEmail();
        createPass();
        confirmPass();
        //calling function on key up
        emailInput.addEventListener("keyup", checkEmail);
        passInput.addEventListener("keyup", createPass);
        cPassInput.addEventListener("keyup", confirmPass);
        if (
            !emailField.classList.contains("invalid") &&
            !passField.classList.contains("invalid") &&
            !cPassField.classList.contains("invalid")
        ) {
            location.href = form.getAttribute("action");
        }
    });

    $('#create-user').on('click', function (e) {
        e.preventDefault();
        let firstName = $('#first-name').val();
        let lastName = $('#last-name').val();
        let username = $('#username').val();
        let password1 = $('#password1').val();
        let password2 = $('#password2').val();


        if (password1 !== password2) {
            createAlert('warning', 'رمزعبور و تاییدیه آن با هم تطابق ندارند!!')
        }
        else {
            let data = {
                'username': username.toLowerCase(),
                'password': password1,
                'first_name': firstName,
                'last_name': lastName,
                'is_active': true
            };
            $.ajax({
                type: "POST",
                url: "/api/users/",
                data: JSON.stringify(data),
                contentType: "application/json",
                headers: {
                    'X-CSRFToken': $('[name=csrfmiddlewaretoken]').val()
                },
                success: function (response) {
                    createAlert('success', 'کاربر با موفقیت اضافه شد.')
                    // Method patch => example Profile.added_by = {{request.session.user_id}}
                    window.location.href = "/users-list/";
                },
                error: function (error) {
                    if (error.responseJSON && error.responseJSON.username) {
                        // let errorMessage = error.responseJSON.username[0]; 
                        createAlert('danger', 'نام کاربری قبلا انتخاب شده‌است');
                    } else {
                        console.error("ERROR CREATING USER ERROR TEXT: ", error.responseJSON);
                    }
                }
            });

        }
    })
</script>
{% endblock%}