{% extends 'main.html'%}
{% load static %}
{% block headcontent %}
{% include 'head.html' with title="Installers App| Login User" %}
{% endblock %}
{% block content %}
{% block body_class %}login-page{% endblock %}
<div class="login-box rtl-txt">
  <h2>ورودکاربر</h2>
  <form id="login-form">
    <div class="user-box">
      <input type="text" name="username" id="username" required="">
      <label>نام کاربری</label>
    </div>
    <div class="user-box ">
      <input type="password" name="password" id="password" required="">
      <label>رمزعبور</label>
    </div>
    <div style="height: 50px; background: whitesmoke; border-radius: 5px;" id="captcha-container">
      <p class="text-center" id="code"></p>
    </div>
    <div class="user-box ">
      <input type="text" name="captcha-input" id="captcha-input" required="">
      <label>کپچا</label>
    </div>

    <input type="submit" value="ورود">
  </form>
</div>


<script>

  let code = "";
  var charsArray =
    "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ";
  var length = 4;
  var captcha = [];
  function generateCaptcha() {
    for (var i = 0; i < length; i++) {
      var index = Math.floor(Math.random() * charsArray.length);
      captcha.push(charsArray[index]);
    }
    return captcha.join("");

  }
  $(document).ready(function () {
    code = generateCaptcha()
    $('#code').text(code);
    console.log(code);
  });
  $('#captcha-container').on('click', function () {
    captcha = [];
    code = generateCaptcha();
    $('#code').text("");
    console.log(code);
    $('#code').text(code);
  })

  $('#login-form').submit(function (e) {

    e.preventDefault()

    console.log('input', $('#captcha-input').val());
    console.log('code', code);
    if ($('#captcha-input').val() === code) {
      let formData = $(this).serialize();
      $.ajax({
        url: '/api/login-user/',
        type: 'POST',
        data: formData,
        success: function (response) {
          console.log(response.user_id);
          createAlert('success', 'ورودکاربر با موفقیت انجام شد.');
          window.location.href = "/dashboard/"
        },
        error: function () {
          createAlert('danger', 'نام کاربری یا رمزعبور درست نیست!!');

        }
      });
    }
    else {
      
      createAlert('danger', 'کد وارد شده اشتباه است!!');
      captcha = [];
      code = generateCaptcha();
      $('#code').text("");
      console.log(code);
      $('#code').text(code);
    }

  });


</script>
{% endblock content %}