<!DOCTYPE html>
<html lang="fa" dir="rtl">
{% load static %}
{% block headcontent %}
{% include 'head.html' with title="Installers App| Enginroom List" %}
{% endblock %}
<!-- /header content -->
<style>
    input[type=submit] {
        background-color: #34495E;
        color: #F9F9F9;
        border-radius: 5px;
        padding: 5px 10px;
        margin-top: 15px
    }

</style>

<body class="nav-md">

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col hidden-print">
                <div class="left_col scroll-view">
                    {% include 'navbar.html'%}
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav hidden-print">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">
                                    {{request.session.username}} <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                            </li>
                            <li><a href="/profile/"><i class="fa fa-user pull-right"></i>
                                    پروفایل</a></li>
                            <li><a href="/reset_password/{{user_id}}"><i class="fa fa-lock pull-right"></i>
                                    تغییر رمزعبور</a></li>
                            <hr>
                            <li><a id="logout" onclick="logout()"><i class="fa fa-sign-out pull-right"></i>
                                    خروج</a></li>
                        </ul>
                        </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- /header content -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3></h3>
                        </div>

                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">

                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <div class="row x_title">

                                    <h1> تغییر رمزعبور </h1>
                                    <form action="" method="POST" id="resetpassword_form">
                                        {% csrf_token %}
                                        <label for="password">رمزعبور</label>
                                        <input type="password" id="password" name="password" class="form-control"
                                            placeholder="رمزعبور را وارد کنید" required>
                                            <br>
                                        <label for="cPassword">تاییدیه رمزعبور</label>
                                        <input type="password" id="cPassword" name="cPassword" class="form-control"
                                            placeholder="تاییدیه رمزعبور را وارد کنید" required>

                                            <br>
                                        <input type="submit" value="ثبت" name="" id="reset_password">
                                    </form>
                                </div>



                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /page content -->

            <!-- /page content -->

            <!-- footer content -->
            <footer class="hidden-print">
                <div class="pull-left">

                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <div id="lock_screen">
        <table>
            <tr>
                <td>
                    <div class="clock"></div>
                    <span class="unlock">
                        <span class="fa-stack fa-5x">
                            <i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
                            <i id="icon_lock" class="fa fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    {% include 'scripts.html' %}


    <script>
        let page = "{{ page }}";
        let organ_id = "{{ organ_id }}";
        let enginroomData;
        let enginroomName;
        let organization;
        let administration;
        let creator;
        let status;
        let info;

        $(document).ready(function () {
            $('#resetpassword_form').validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 6
                    },
                    cPassword: {
                        required: true,
                        minlength: 6,
                        equalTo: "#password"
                    },
                },
                messages: {
                    password: {
                        required: "رمزعبور را وارد کنید",
                        minlength: "رمزعبور باید حداقل 6 کاراکتر داشته باشد"
                    },
                    cPassword: {
                        required: "تاییدیه رمزعبور را وارد کنید",
                        equalTo: "تاییدیه رمزعبور با رمزعبور مطابقت ندارد",
                        
                    },

                },
                errorPlacement: function (error, element) {
                    error.insertAfter(element);
                },
                submitHandler: function (form) {
                    let newPassword = $('#password').val();
                    let userId = "{{user_id}}";

                    $.ajax({
                        type: "POST",
                        url: '/api/users/' + userId + '/reset_password/',
                        method: 'POST',
                        data:{
                            new_password: newPassword
                        },
                        headers: {
                            'X-CSRFToken': $('[name=csrfmiddlewaretoken]').val()
                        },
                        success: function (response) {


                            Swal.fire({
                                icon: 'success',
                                title: 'تایید',
                                text: 'رمزعبور با موفقیت تغییر کرد',
                            });

                            window.history.back()

                        },
                        error: function (error) {
                            console.error('ERROR FROM CREATE DATA:', error.responseJSON);
                            // Handle the case where enginroom_name already exists
                            Swal.fire({
                                icon: 'error',
                                title: 'خطا',
                                text: 'خطایی رخ داده است',

                            });



                        }
                    });
                }
            });
        });




    </script>
</body>

</html>