{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'styles/styles.css'%}">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.rtl.min.css'%}">
    <link rel="stylesheet" href="{% static 'styles/bootstrap-theme.min.css'%}">
    <link rel="stylesheet" href="{% static 'styles/leaflet.css'%}">
    <link rel="stylesheet" href="{% static 'styles/multistepform.css'%}">
    <link rel="stylesheet" href="{% static 'styles/jalalidatepicker.min.css'%}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>{% block title %}{{ title }}{% endblock %}</title>



</head>