<html lang="fa">
{%load static%}
{% block headcontent %}
{% include 'head.html' with title="Installers App" %}
{% endblock %}

<body class="{% block body_class %}{% endblock %}">

    <script src="{% static 'jquery/jquery.min.js'  %}"></script>
    <script src="{% static 'js/popper.min.js'  %}"></script>
    <script src="{% static 'js/bootstrap.min.js'  %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js'  %}"></script>
    <script src="{% static 'js/leaflet.js'  %}"></script>


    {% include 'navbar.html'%}




    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show sticky-top rtl-txt" id="close" role="alert">
        <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></span>
        <strong>{{message}}</strong>
    </div>
    <script>

        $('#close').click(function (e) {
            e.preventDefault();
            $(this).fadeOut()
        });     
    </script>
    {% endfor %}
    {% endif %}

    <div id="alert-container"></div>
    <script>
        function createAlert(type, message) {
            // Create the alert HTML
            var alertHtml = '<div class="alert alert-' + type + ' alert-dismissible fade show rtl-txt sticky-top" role="alert" id="close">' +
                '<span type="button" class="close" data-dismiss="alert" aria-label="Close" id="close">' +
                '<span aria-hidden="true">&times;</span>' +
                '</span>' +
                '<strong>' + message + '</strong>'
            '</div>';



            // Add the alert to the page
            $('#alert-container').html(alertHtml);


            // Scroll to the top of the page
            $('html, body').animate({ scrollTop: 0 }, 'fast');

            $('#close').click(function (e) {
                e.preventDefault();
                $(this).fadeOut()
            });
        }
    </script>
    {% block content %}


    {% endblock content %}


</body>

</html>