{% load static%}
<div class="navbar nav_title" style="border: 0;">
  <a href="/dashboard/" class="site_title"><img src="{% static 'images/logo-romak.jpg'%}"
          width="50px" height="50px" style="border-radius: 50%;"> <span>روماک سیستم</span></a>
</div>

<div class="clearfix"></div>

<!-- menu profile quick info -->
<div class="profile clearfix">
  <div class="profile_pic">
      
  </div>
  <div class="profile_info">
      <h2 id="username">{{request.session.username}}</h2> <span>خوش آمدید</span>
     

  </div>
</div>
<!-- /menu profile quick info -->

<br />

<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
      <ul class="nav side-menu">
          <li><a href="/dashboard/"><i class="fa fa-home"></i> خانه </a></li>
          <li><a><i class="fa fa-list-ol"></i> لیست موتورخانه ها<span
                      class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">

                  <li><a href="/enginroom-list/">به صورت جدول</a></li>
                  <li><a href="/enginrooms-map/">روی نقشه</a></li>
                  <li><a href="/create-enginroom/">افزودن موتورخانه</a></li>
              </ul>
          </li>

          <li><a><i class="fa fa-users"></i> لیست کاربران</a> </li>

      </ul>
  </div>


</div>
<!-- /sidebar menu -->

<!-- /menu footer buttons -->
<div class="sidebar-footer hidden-small">
  <a data-toggle="tooltip" data-placement="top" title="تنظیمات">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="تمام صفحه" onclick="toggleFullScreen();">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="قفل" class="lock_btn">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="خروج" id="logout" onclick="logout()">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
  </a>
</div>
<!-- /menu footer buttons -->

