{% load static %}
{% if user.is_authenticated %}
<style>
  .dropdown-menus {
    display: flex;
  }

  .dropdown-menus li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;

  }

  .dropdown-menus li a {
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }

  .dropdown-menus li:hover .js-arrow {
    transform: rotate(180deg);
  }

  .dropdown-menus li .sub-menu {
    position: absolute;
    top: 50px;
    left: 0;
    line-height: 40px;
    background: var(--border-color);
    box-shadow: 0 1px 2px var(--text-color);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
    padding-left: 20px;
    border-radius: 2px;
  }

  .dropdown-menus li:hover .js-sub-menu {
    display: block;
    transition-delay: 0.2s;
  }

  .dropdown-menus li .sub-menu li {
    padding: 0 22px;
    border-bottom: 1px solid var(--black-light-color);
  }

  .dropdown-menus li .sub-menu a {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    pointer-events: visible;
  }

  .nav-links:hover li .link-name {
    display: block;
  }
</style>
<nav>
  <div class="logo-name">
    <div class="logo-image">
      <img src="{% static 'images/logo-romak.jpg'%}" alt="">
    </div>
    <span class="logo_name">روماک سیستم</span>
  </div>
  <div class="menu-items">
    <ul class="nav-links">
      <li><a href="/dashboard/">
          <i class="uil uil-estate"></i>
          <span class="link-name">داشبورد</span>
        </a></li>



      <li><a href="/enginrooms/">
          <i class="uil uil-map-marker"></i>
          <span class="link-name">لیست موتورخانه ها</span>
        </a></li>
      <li><a href="/create-user/">
          <i class="uil uil-user-plus"></i>
          <span class="link-name">افزودن کاربر جدید</span>
        </a></li>



    </ul>

    <ul class="logout-mode">
      <li><a id="logout-btn" href="/api/logout-user/">
          <i class="uil uil-signout"></i>
          <span class="link-name">خروج</span>
        </a></li>
      <li class="mode">
        <a href="#">
          <i class="uil"></i>
          <span class="link-name"></span>
        </a>
        <div class="mode-toggle">
          <span class="switch"></span>
        </div>
      </li>
    </ul>
  </div>
</nav>
<section class="dashboard">
  <div class="top">
    <i class="uil uil-bars sidebar-toggle"></i>
    <div class="search-box">

    </div>

    <ul class="dropdown-menus">
      <li>
        <a href="#"><img src="{% static 'images/profile_images/default_user.jpg'%}" alt="" id="profile-image"> Hatef
        </a>

        <ul class="js-sub-menu sub-menu">
          <li><a href="/profile/">پروفایل</a></li>
          <li><a href="/change-password">تغییر رمزعبور</a></li>
          <li><a href="/api/logout-user/" id="logout-btn">خروج</a></li>
        </ul>
      </li>
    </ul>
  </div>
  </div>
  </div>
  {% endif %}
  <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top rtl-txt ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{% static 'images/logo-romak.jpg' %}" class="navbar-img"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapse-nav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          {% if request.session.session_key %}
          <a class="btn btn-outline-secondary" id="logout-btn" href="/api/logout-user/">خروج</a>
          <a class="btn btn-sm btn-light" id="profile-btn" href="/profile/">پروفایل‌کاربری</a>-->
  <!-- <a class="btn btn-sm btn-light" id="installation-form" href="/create-installation/">ایجاد اطلاعات نصب</a> -->
  <!-- <a class="btn btn-sm btn-light" id="create-organ-btn" href="/enginroom-list/">لیست موتورخانه</a>
          {% if request.session.is_admin %}
          <a class="btn btn-sm btn-light" id="users-list-btn" href="/users-list/">لیست کاربران</a>
         
          <a class="btn btn-sm btn-light" id="locatio-list-btn" href="/location-public-info-list/">لیست اطلاعات عمومی
            محل</a>
          <a class="btn btn-sm btn-light" id="create-organ-btn" href="/enginroom-info-list/">لیست اطلاعات
            موتورخانه</a>
          {% endif %}
          {% else %}
          <a class="btn btn-outline-secondary" id="login-btn" href="/login/">ورود</a>
         
          {% endif %}
        </li>
      </ul>
    </div>

</nav> -->

  <script>


    $('.sub-menu li #logout-btn').click(function (e) {
      e.preventDefault();
      let href = $(this).attr('href');
      if (href === '/api/logout-user/') {
        $.ajax({
          type: "GET",
          url: href,
          success: function (response) {
            window.location.href = '/login/'
          },
          error: function () {
            console.log('logout failed');
          }
        });
      }
    });

    const body = $("body");
    const modeToggle = $('.mode-toggle');
    const sidebar = $('nav');
    const sidebarToggle = $('.sidebar-toggle');

    let getMode = localStorage.getItem("mode");
    if (getMode && getMode === "dark") {
      body.toggleClass('dark');
      $('.mode a .uil').addClass('uil-sun');
    }
    else {
      $('.mode a .uil').addClass('uil-moon');
    }
    let getStatus = localStorage.getItem("status");
    if (getStatus && getStatus === "close") {
      sidebar.toggleClass('close');
    }
    modeToggle.on('click', function () {
      body.toggleClass("dark");

      if (body.hasClass("dark")) {
        localStorage.setItem("mode", "dark");
        $('.mode a .uil').removeClass('uil-moon').addClass('uil-sun');
      } else {
        localStorage.setItem("mode", "light");
        $('.mode a .uil').removeClass('uil-sun').addClass('uil-moon');
      }
    });
    sidebarToggle.on('click', function () {
      sidebar.toggleClass("close");
      if (sidebar.hasClass("close")) {
        localStorage.setItem("status", "close");
      }
      else {
        localStorage.setItem("status", "open");
      }
    });
  </script>