<!DOCTYPE html>
<html lang="fa" dir="rtl">
{% load static %}
{% block headcontent %}
{% include 'head.html' with title="Installers App| Enginroom List" %}
{% endblock %}
<!-- /header content -->
<style>
    .pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .pagination button{
        border: none;
    }
    .page-numbers {
        display: flex;
        gap: 10px;
    }

    .prev-page,
    .next-page{
        padding: 5px 10px;
        background-color: #34495E;
        /* border: 1px solid #ccc; */
        color:#F9F9F9 ;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }


    .pagination .active {
    background-color: #34495e; 
    color: #fff;
}
</style>

<body class="nav-md">

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col hidden-print">
                <div class="left_col scroll-view">
                    {% include 'navbar.html'%}
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav hidden-print">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">
                                    {{request.session.username}} <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                            </li>
                            <li><a href="/profile/"><i class="fa fa-user pull-right"></i>
                                    پروفایل</a></li>
                            <li><a href="/change-password/"><i class="fa fa-lock pull-right"></i>
                                    تغییر رمزعبور</a></li>
                            <hr>
                            <li><a id="logout" onclick="logout()"><i class="fa fa-sign-out pull-right"></i>
                                    خروج</a></li>
                        </ul>
                        </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- /header content -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3></h3>
                        </div>

                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    {% csrf_token %}
                                    <input type="text" class="form-control" placeholder="جست و جو برای..." id="search">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i
                                                class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <div class="row x_title">
                                    <div class="col-md-6">
                                        <h3>لیست موتورخانه ها</h3>
                                    </div>

                                </div>

                                <div class="col-md-4 col-lg-3">
                                    <label for="installer">نصاب:</label>
                                    <select id="installer" class="form-control">

                                    </select>
                                </div>
                                <div class="col-md-4 col-lg-3">
                                    <label for="organization">سازمان:</label>
                                    <select id="organization" class="form-control">

                                    </select>
                                </div>
                                <div class="col-md-4 col-lg-3">
                                    <label for="administration">وزارت‌خانه:</label>
                                    <select id="administration" class="form-control">

                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">

                                <!-- <p>با افزودن کلاس <code dir="ltr">bulk_action</code> برای جدول، جدول دارای اعمال همگانی
                                    می‌شود.</p> -->
                                <div class="input-group">

                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped jambo_table dataTable no-footer "
                                        id="enginroom-list">
                                        <thead>
                                            <tr class="headings">

                                                <th class="column-title">نام موتورخانه</th>
                                                <th class="column-title">سازمان / خصوصی</th>
                                                <th class="column-title">وزارت‌خانه / خصوصی</th>
                                                <th class="column-title">نام نصاب</th>
                                                <th class="column-title">وضعیت</th>
                                                <th class="column-title">اطلاعات</th>
                                                <th class="column-title no-link last"><span class="nobr">عمل</span>
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                        </tbody>

                                    </table>
                                    <div class="col-md-3 col-xs-3">
                                    <div class="pagination justify-content-center pagination-sm">
                                        <button class="prev-page">قبلی</button>
                                        <div class="page-numbers"></div>
                                        <button class="next-page">بعدی</button>
                                    </div>
                                 
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /page content -->

            <!-- /page content -->

            <!-- footer content -->
            <footer class="hidden-print">
                <div class="pull-left">

                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <div id="lock_screen">
        <table>
            <tr>
                <td>
                    <div class="clock"></div>
                    <span class="unlock">
                        <span class="fa-stack fa-5x">
                            <i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
                            <i id="icon_lock" class="fa fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    {% include 'scripts.html' %}
    <script>

        function showDetail(id) {
            const enginroomUrl = `/enginroom-detail/${id}`;
            window.location.href = enginroomUrl;
        }
        let admin = "{{request.session.is_admin}}" === "True";
        let staff = "{{request.session.is_staff}}" === "True";
        let access = admin || staff
        function acceptEnginroom(id) {
            const url = `/api/enginroom/${id}/`;
            $.ajax({
                type: "PATCH",
                url: url,
                data: JSON.stringify({ status: true }),
                contentType: "application/json",
                headers: {
                    "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val(),
                },
                success: function (response) {

                    console.log(`Engineroom ${id} has been accepted.`);
                    $(`#status-${id}`).addClass('bg-success text-white');
                },
                error: function (error) {

                    console.error(`Error accepting engineroom ${id}:`, error.responseJSON);
                }
            });

        }
        function rejectEnginroom(id) {
            $.ajax({
                type: "PATCH",
                url: `/api/enginroom/${id}/`, // Specify the correct URL for your API
                data: JSON.stringify({ status: false }), // Update status to 'true'
                contentType: "application/json",
                headers: {
                    "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val(),
                },
                success: function (response) {

                    console.log(`Engineroom ${id} has been rejected.`);
                    $(`#status-${id}`).addClass('bg-danger text-white');
                },
                error: function (error) {

                    console.error(`Error rejecting engineroom ${id}:`, error.responseJSON);
                }
            });

        }
        let status;
        $(document).ready(function () {

            let currentPage = 1;
            let totalPages;

            function loadEnginerooms(page) {

                $.ajax({
                    type: "GET",
                    url: `/api/enginroom/?page=${page}`,
                    success: function (response) {
                        listOfEnginroom(response);
                        currentPage = page;
                    
                        totalPages = response.total_pages
                        console.log('totalPages ', totalPages)
                        updatePageNumbers();
                    },
                    error: function (error) {
                        console.error('Error loading enginrooms:', error.responseJSON);
                    }
                });
            }
            loadEnginerooms(currentPage);
            $(".prev-page").on("click", function () {
                if (currentPage > 1) {
                    loadEnginerooms(currentPage - 1); // Load the previous page
                }
                
            });


            $(".next-page").on("click", function () {
                if (currentPage < totalPages) {
                    loadEnginerooms(currentPage + 1); // Load the next page
                }
              
            });

            function updatePageNumbers() {
                const pageNumbers = $(".page-numbers");
                pageNumbers.empty();
                for (let i = 1; i <= totalPages; i++) {
                    const pageNumberButton = $("<button>", {
                        class: "page-number",
                        text: i,
                        "data-page": i
                    });
                    pageNumbers.append(pageNumberButton);
                }
                // Highlight the current page number
                $(`.page-number[data-page=${currentPage}]`).addClass("active");
                // Page number click event handler
                $(".page-number").on("click", function () {
                    const page = $(this).data("page");
                    $(`.page-number[data-page=${currentPage}]`).removeClass("active");
                    $(`.page-number[data-page=${page}]`).addClass("active");
                    loadEnginerooms(page);
                });
            }

            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();

                $("#enginroom-list tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });

            });

            function listOfEnginroom(resp) {
                const tableBody = $('#enginroom-list tbody');
                tableBody.empty()
                resp.results.forEach(function (obj) {
                    if (obj.status == true) {
                        status = 'تایید';
                        $(`#status-${obj.id}`).addClass('bg-success')
                    }
                    else if (obj.status == false) {
                        status = 'رد';
                    }
                    else {
                        status = 'در انتظار تایید';
                    }
                    const row = `
                   
                    <tr id="enginroom_${obj.id}" data-enginroom-id="${obj.id}"  id="status-${obj.id}">
        

                    <td class="enginroom-name" onclick="showDetail(${obj.id})">${obj.enginroom_name}</td>
                    <td class=" " onclick="showDetail(${obj.id})">${obj.organization}</td>
                    <td class=" " onclick="showDetail(${obj.id})">${obj.administration}</td>
                    <td class=" " onclick="showDetail(${obj.id})">${obj.creator_username}</td>
                    ${access
                            ? `<td class="a-right">
                                <a  class="btn btn-success" onclick="acceptEnginroom(${obj.id})">تایید</a>
                        <a class="btn btn-danger" onclick="rejectEnginroom(${obj.id})">  رد </a>
                                </td>`
                            : `<td class="a-right" onclick="showDetail(${obj.id})" ><p id="status">${status}</p></td>`
                        }
                    <td class=" "><a href="/create-installation/${obj.id}" class="btn btn-info"> تکمیل اطلاعات </a></td>
                    <td class=" last">
                        <a><i class="btn btn-sm btn-danger fa fa-trash delete-button" data-toggle="modal" data-target="#deleteConfirmationModal" data-enginroom-id="${obj.id}" data-enginroom-name="${obj.enginroom_name}"></i></i></a>
                        <a href="/update-enginroom/${obj.id}"><i class="btn btn-sm btn-warning fa fa-pencil"></i></a>
                    </td>
                    </tr>
                                        

                    
                `;
                    tableBody.append(row);
                });

            }

        });
        $('select').select2();
        let enginroomToDeleteId;

        // When the trash button is clicked
        $(document).on('click', '.delete-button', function () {
            const enginroomId = $(this).data('enginroom-id');
            const enginroomName = $(this).data('enginroom-name'); // Add data-enginroom-name attribute to your HTML

            // Display a SweetAlert confirmation dialog
            Swal.fire({
                title: 'آیا مطمئن هستید؟',
                text: `آیا می‌خواهید "${enginroomName}" را حذف کنید؟`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.isConfirmed) {
                    // User clicked "بله," proceed with the deletion

                    deleteEnginroom(enginroomId, enginroomName);
                }
            });
        });

        // Function to delete the Engineroom using AJAX
        function deleteEnginroom(enginroomId, enginroomName) {
            $.ajax({
                type: "DELETE",
                url: `/api/enginroom/${enginroomId}/`,
                headers: {
                    'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() // Include the CSRF token in the headers
                },
                success: function (response) {
                    // Remove the row from the table
                    $(`#enginroom_${enginroomId}`).remove();
                    // Hide the modal
                    $('#deleteConfirmationModal').modal('hide');
                    // Show a success message using SweetAlert
                    Swal.fire('حذف شد!', `"${enginroomName}" با موفقیت حذف شد.`, 'success');
                },
                error: function (error) {
                    console.error('Error deleting Engineroom:', error.responseJSON);
                    // You can handle errors here, e.g., display an error message using SweetAlert
                    Swal.fire('خطا', 'خطایی در حذف اتفاق افتاده است.', 'error');
                }
            });
        }



    </script>

</body>

</html>