{% extends 'main.html'%}
{% load static %}
{% block headcontent %}
{% include 'head.html' with title="Installers App| Enginroom installation info" %}
{% endblock %}
{% block content %}

<style>
    html * {
        box-sizing: border-box;
    }

    p {
        margin: 0;
    }

    .upload-box {
        padding: 40px;
    }



    .upload-btn {
        display: inline-block;
        font-weight: 600;
        color: #fff;
        text-align: center;
        min-width: 116px;
        padding: 5px;
        transition: all 0.3s ease;
        cursor: pointer;
        border: 2px solid;
        background-color: #4045ba;
        border-color: #4045ba;
        border-radius: 10px;
        line-height: 26px;
        font-size: 14px;
    }

    .upload-btn:hover {
        background-color: unset;
        color: #4045ba;
    }

    .upload-btn-box {
        margin-bottom: 10px;
    }

    .upload-img-wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    .upload-img-box {
        width: 200px;
        padding: 0 10px;
        margin-bottom: 12px;

    }

    .upload-img-close {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: center;
        line-height: 24px;
        z-index: 1;
        cursor: pointer;
    }

    .upload-img-close:after {
        content: '\2716';
        font-size: 14px;
        color: white;
    }

    .img-bg {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        padding-bottom: 100%;
        margin-bottom: 10px;
    }

    .modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: #FFF;
        box-shadow: 0 0 8px rgba(0, 0, 0, .3);
        transition: margin-top 0.3s ease, height 0.3s ease;
        transform: translateZ(0);
        box-sizing: border-box;
        z-index: 999;
        border-radius: 3px;
        max-width: 600px;
        display: block;
        height: 400px;
        overflow: scroll;
    }
</style>





<form id="installationForm" action="" class="rtl-txt form-control" method="POST">
    {%csrf_token%}
    <h1>اطلاعات نصب</h1>

    <!-- Begin Location Public info -->
    <div class="tab rtl-txt ">
        <h3 class="text-center">اطلاعات عمومی محل نصب</h3>
        <p>نام موتورخانه</p>
        <select class="form-select" id="select-enginroom" aria-label="---" name="select-enginroom">
            <option>---</option>
        </select>
        <br>
        <p>آدرس</p>
        <textarea class="form-control" id="address" name="address" rows="5"></textarea>
        <p style="margin-top: 5%;">تلفن رابط۱</p>
        <input type="text" class="form-control" id="phone-number1" name="phone-number1">
        <p>تلفن رابط۲</p>
        <input type="text" class="form-control" id="phone-number2" name="phone-number2">
        <p>متراژ بنا</p>
        <input type="number" class="form-control" id="building-metrage" name="building-metrage">
        <p>شماره اشتراک کنتور</p>
        <input type="text" class="form-control" id="meter-subscribtion" name="meter-subscribtion">
        <p>عکس ساختمان</p>
        <input type="file" accept="image/jpeg,image/png" class="form-control" id="building-image" name="building-image">
        <input type="hidden" class="form-control" id="user" name="user" value="{{ request.session.user_id }}">
        <input type="hidden" class="form-control" id="location-input" name="location-input">
        <p>موقعیت محل نصب</p>


        <div id="map"
            style="width: 100%; height: 300px; padding: 10px; margin-top: 10px; border-radius: 10px; margin-bottom:10px;"
            onmousedown="mapInteracted = true;">

        </div>
        <!-- <a id="locate-button" class="btn btn-info leaflet-bar leaflet-control">
            <span class="fa fa-map-marker">لوکیشن محل</span>
        </a> -->
    </div>
    <!-- End Location Public info -->

    <!-- Begin Enginroom Public info -->
    <div class="tab">
        <h3 class="text-center">اطلاعات عمومی موتورخانه</h3>
        <p>نوع کاربری</p>
        <select class="form-select" id="select-usage" aria-label="">
            <option>---</option>
            <option value="heating">گرمایشی</option>
            <option value="sanitary">آبگرم بهداشتی</option>
            <option value="both">هردو (گرمایشی و آبگرم بهداشتی)</option>
        </select>

        <br>
        <div class="checkbox-container">
            <p class="col-md-7">آیا مبدل آب استخر/ جکوزی / گرمایش از کف دارد؟</p><br>
            <input type="checkbox" id="has-exchanger" class="" name="has-exchanger">
        </div>
        <div id="exchanger" class="rtl-txt" style="display: none;">
            <p>تعداد مبدل آب استخر</p>
            <input type="number" min="0" class="form-control" id="pool" name="pool">
            <p>تعداد مبدل جکوزی</p>
            <input type="number" min="0" class="form-control" id="jaccuzi" name="jaccuzi">
            <p>تعداد مبدل گرمایش از کف</p>
            <input type="number" min="0" class="form-control" id="floor-heating" name="floor-heating">
        </div>
        <p>تعداد دیگ‌ها</p>
        <input type="number" min="0" class="form-control" id="boilers" name="boilers">
        <p>تعداد پمپ‌های سیرکوله</p>
        <input type="number" min="0" class="form-control" id="circulate-pump" name="circulate-pump">
        <p>تعداد منبع کوئلی</p>
        <input type="number" min="0" class="form-control" id="coil-source" name="coil-source">
        <p>تعداد پمپ‌های منبع کوئلی</p>
        <input type="number" min="0" class="form-control" id="coil-source-pump" name="coil-source-pump">
        <p>تعداد پمپ‌های آبگرم مصرفی</p>
        <input type="number" min="0" class="form-control" id="hotwater-pump" name="hotwater-pump">

    </div>
    <!-- End Enginroom Public info -->

    <!-- Begin Installation info -->
    <div class="tab">
        <p>مدل دستگاه نصب‌شده</p>
        <select class="form-select" id="select-installed-model" aria-label="Default select example">
            <option>---</option>
            <option value="8relays">۸ رله‌ای</option>
            <option value="12relays">۱۲ رله‌ای</option>
            <option value="16relays">۱۶ رله‌ای</option>
        </select>
        <p>نوع ارتباط</p>
        <select class="form-select" id="connection-type" aria-label="Default select example">
            <option>---</option>
            <option value="internet">اینترنت</option>
            <option value="intranet">اینترانت</option>
            <option value="ethernet">اترنت</option>
        </select>
        <p>مدل مودم</p>
        <input type="text" class="form-control" id="modem-model" name="modem-model">
        <div class="checkbox-container ">
            <p class="col-md-7">آیا سیم‌کارت دارد؟</p><br>
            <input type="checkbox" id="has-simcard" class="" name="has-simcard">
        </div>
        <div id="simcard" class="rtl-txt" style="display: none;">
            <p>شماره سیم‌کارت مودم</p>
            <input type="text" class="form-control" id="modem-simcard" name="modem-simcard">
        </div>
        <p>تاریخ نصب</p>
        <input data-jdp type="text" class="form-control" id="installation-date" name="installation-date" />
        <p>عکس شماره سریال دستگاه</p>
        <input type="file" accept="image/jpeg,image/png" class="form-control" id="device-serial-image"
            name="device-serial-image" />
    </div>
    <!-- End Installation info -->

    <!--Begin Images of enginroom-->
    <div class="tab">
        <!--<div class="upload-box">
            <div class="upload-box-btn">
                <label class="upload--btn">
                    <p>بارگزاری عکس‌ها</p>
                    <input type="file" multiple="" data-max-length="20" accept="image/jpeg,image/png"
                        class="upload-inputfile" name="enginroom-images">
                </label>
            </div>
            <div class="upload--img-wrap"></div>
        </div>-->
        <p>بارگزاری عکس‌ها</p>
        <input type="file" accept="image/jpeg,image/png" multiple class="form-control" name="enginroom-images"
            id="enginroom-images">
        <div id="base64-container"></div>
    </div>

    <!--End Images of enginroom-->
    </div>

    <div style="overflow:auto;">
        <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">قبلی</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">بعدی</button>
        </div>
    </div>

    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
    </div>

</form>





<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/getenginroom.js' %}"></script>
<!-- <script src="{% static 'js/multipleimages.js' %}"></script> -->
<script src="{% static 'js/jalalidatepicker.min.js' %}"></script>
<!-- <script src="{% static 'js/calendar.js' %}"> </script>
<script src="{% static 'js/jquery.Bootstrap-PersianDateTimePicker.min.js' %}"> </script> -->
<script>



    function toggleExchanger() {
        if ($('#has-exchanger').prop('checked')) {
            $('#exchanger').fadeIn();

        } else {
            $('#exchanger').fadeOut();

        }
    }
    function toggleModem() {
        if ($('#has-simcard').prop('checked')) {
            $('#simcard').fadeIn();

        } else {
            $('#simcard').fadeOut();

        }
    }


    $(document).ready(function () {

        toggleModem();
        $('#has-simcard').on('click', toggleModem);

        toggleExchanger();
        $('#has-exchanger').on('click', toggleExchanger);


        jalaliDatepicker.startWatch({ time: true });


    });


    let checkExchanger;
    let checkSimcard;
    var mapInteracted = false;

    let locationInfoData;
    let enginroomInfoData;
    let installationinfoData;
    let enginroomImagesData = new FormData();


    let isSuccessLocationInfo = false;
    let isSuccessEnginroomInfo = false;
    let isSuccessInstallationinfo = false;
    let isSuccessEnginroomImages = false;


    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
        // This function will display the specified tab of the form ...
        var x = $(".tab");
        x.eq(n).show();
        // ... and fix the Previous/Next buttons:
        if (n == 0) {
            $("#prevBtn").hide();
        } else {
            $("#prevBtn").show();
        }
        if (n == (x.length - 1)) {
            $("#nextBtn").html("تایید");
        } else {
            $("#nextBtn").html("بعدی");
        }
        // ... and run a function that displays the correct step indicator:
        fixStepIndicator(n);
    }

    function nextPrev(n) {
        // This function will figure out which tab to display
        var x = $(".tab");
        // Exit the function if any field in the current tab is invalid:
        if (n == 1 && !validateForm()) return false;
        // Hide the current tab:
        x.eq(currentTab).hide();
        // Increase or decrease the current tab by 1:
        currentTab = currentTab + n;
        // if you have reached the end of the form... :
        if (currentTab >= x.length) {
            //...the form gets submitted:
            $("#installationForm").submit();

            return false;
        }
        // Otherwise, display the correct tab:
        showTab(currentTab);
    }

    function validateForm() {
        // This function deals with validation of the form fields
        let x, y, z, w, i, valid = true;
        x = $(".tab").eq(currentTab);
        let select = x.find("select");
        let address = x.find("#address");
        let imageInputs = x.find("input[type='file'][accept*='image']");

        select.each(function () {
            if ($(this).val() === "---") {
                $(this).addClass('invalid');
                valid = false;
            } else {
                $(this).removeClass('invalid');

            }
        })
        imageInputs.each(function () {
            if ($(this).val() === "") {
                $(this).addClass('invalid');
                valid = false;
            } else {
                $(this).removeClass('invalid');

            }
        })

        if (address.val() === "") {
            $("#address").addClass("invalid");
            valid = false;
        }
        else {
            $("#address").removeClass('invalid');

        }

        if (!mapInteracted) {
            $("#map").addClass("invalid");
            valid = false;
        }


        // If the valid status is true, mark the step as finished and valid:
        if (valid) {
            $(".step").eq(currentTab).addClass("finish");
        }
        return valid; // return the valid status
    }

    function fixStepIndicator(n) {
        // This function removes the "active" class of all steps...
        var x = $(".step");
        x.removeClass("active");
        // ... and adds the "active" class to the current step:
        x.eq(n).addClass("active");
    }
    $("#installationForm").submit(function (event) {
        // Prevent the default form submission behavior
        event.preventDefault();

        let selectEnginroom = $('#select-enginroom').val();
        let user = $('#user').val();

        let address = $('#address').val() || '';
        let phoneNumber1 = $('#phone-number1').val() || '';
        let phoneNumber2 = $('#phone-number1').val() || '';
        let buildingMetrage = $('#building-metrage').val() || 0;
        let meterSubscribtion = $('#meter-subscribtion').val() || '';
        let buildingImageInput = $("#building-image")[0].files[0];

        let locationInput = $('#location-input').val();

        let reader = new FileReader();
        reader.onloadend = function () {
            let buildingImage = reader.result;

            locationInfoData = {
                'user': user,
                'enginroom': selectEnginroom,
                'address': address,
                'phone_number1': phoneNumber1,
                'phone_number2': phoneNumber2,
                'building_metrage': buildingMetrage,
                'meter_subscription_number': meterSubscribtion,
                'building_image': buildingImage,
                'location': locationInput,
                'status': false
            }
            $.ajax({
                type: "POST",
                url: "/api/location-public-info/",
                data: JSON.stringify(locationInfoData),
                contentType: "application/json",
                headers: {
                    "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val(),
                },
                success: function (response) {
                    isSuccessLocationInfo = true
                },
                error: function (error) {
                    console.error('ERROR IN POST DATA TO LOCATION PUBLIC INFO', error.responseJSON);
                }
            });
            console.log('location public info', locationInfoData)
        };
        reader.readAsDataURL(buildingImageInput);

        checkExchanger = $("#has-exchanger").prop("checked");
        $("#has-exchanger").on("change", function () {
            checkExchanger = $(this).prop("checked");
        });

        let usage = $('#select-usage').val();
        // let hasExchanger = checkExchanger;
        let numberOfPoolExchangers = checkExchanger ? $('#pool').val() : 0;
        let numberOfJaccuziExchangers = checkExchanger ? $('#jaccuzi').val() : 0;
        let numberOfFloorHeatingExchangers = checkExchanger ? $('#floor-heating').val() : 0;
        let numberOfBoilers = $('#boilers').val();
        let numberOfCirculatingPumps = $('#circulate-pump').val();
        let numberOfCoilSources = $('#coil-source').val();
        let numberOfCoilSourcesPumps = $('#coil-source-pump').val();
        let numberOfHotWaterPumps = $('#hotwater-pump').val();

        enginroomInfoData = {
            'usage': usage,
            'has_exchanger': checkExchanger,
            'number_of_pool_exchangers': numberOfPoolExchangers || 0,
            'number_of_jaccuzi_exchangers': numberOfJaccuziExchangers || 0,
            'number_of_floor_heating_exchangers': numberOfFloorHeatingExchangers || 0,
            'number_of_boilers': numberOfBoilers || 0,
            'number_of_circulating_pumps': numberOfCirculatingPumps || 0,
            'number_of_coil_sources': numberOfCoilSources || 0,
            'number_of_coil_sources_pumps': numberOfCoilSourcesPumps || 0,
            'number_of_hot_water_pumps': numberOfHotWaterPumps || 0,
            'user': user,
            'enginroom': selectEnginroom,
            'status': false

        }
        console.log(enginroomInfoData);
        $.ajax({
            type: "POST",
            url: "/api/enginroom-public-info/",
            data: JSON.stringify(enginroomInfoData),
            contentType: "application/json",
            headers: {
                "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val(),
            },
            success: function (response) {
                isSuccessEnginroomInfo = true;
            },
            error: function (error) {
                console.error('ERROR IN POST DATA TO ENGINROOM PUBLIC INFO', error.responseJSON);
            }
        });
        let selectInstalledModel = $('#select-installed-model').val();
        let selectConnectionType = $('#connection-type').val();
        let modemModel = $('#modem-model').val() || '';
        checkSimcard = $("#has-simcard").prop("checked");
        $("#has-simcard").on("change", function () {
            checkSimcard = $(this).prop("checked");
        });
        let modelSimcard = $("#modem-simcard").val() || '';
        let installationDate = $("#installation-date").val();
        let dateAndTimeComponents = installationDate.split(' ');
        let dateComponent = dateAndTimeComponents[0];
        let timeComponent = dateAndTimeComponents[1];

        let dateComponents = dateComponent.split('/');
        let year = parseInt(dateComponents[0]);
        let month = parseInt(dateComponents[1]) - 1; // JavaScript months are 0-indexed
        let day = parseInt(dateComponents[2]);

        let timeComponents = timeComponent.split(':');
        let hours = parseInt(timeComponents[0]);
        let minutes = parseInt(timeComponents[1]);
        let seconds = parseInt(timeComponents[2]);

        let formattedInstallationDate = new Date(year, month, day, hours, minutes, seconds).toISOString();

        console.log(formattedInstallationDate);
        let deviceSerialImageInput = $("#device-serial-image")[0].files[0];
        let deviceSerialImageReader = new FileReader();
        deviceSerialImageReader.onloadend = function () {
            let deviceSerialImage = deviceSerialImageReader.result;

            installationinfoData = {
                'user': user,
                'enginroom': selectEnginroom,
                'installed_device_model': selectInstalledModel,
                'connection_type': selectConnectionType,
                'modem_model': modemModel,
                'has_simcard': checkSimcard,
                'modem_simcard_number': modelSimcard,
                'installation_date': formattedInstallationDate,
                'device_serial_number_image': deviceSerialImage,
                'status': false
            }
            $.ajax({
                type: "POST",
                url: "/api/installation-info/",
                data: JSON.stringify(installationinfoData),
                contentType: "application/json",
                headers: {
                    "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val(),
                },
                success: function (response) {
                    isSuccessInstallationinfo = true

                },
                error: function (error) {
                    console.error('ERROR IN POST DATA TO INSTALLATION INFO', error.responseJSON);
                }
            });
            console.log('installation info', installationinfoData)
        };
        deviceSerialImageReader.readAsDataURL(deviceSerialImageInput);

        // if (isSuccessLocationInfo && isSuccessEnginroomInfo && isSuccessInstallationinfo) {
        //     createAlert('success', 'اطلاعات محل نصب و موتورخانه و نصب با موفقیت ثبت شد.');
        // }
        // else {
        //     createAlert('danger', 'خطایی رخ داده است');
        // }

        var files = $('#enginroom-images')[0].files;
        enginroomImagesData = new FormData();
        var imagesData = []
        var user_id = '{{request.session.user_id}}'
        enginroomImagesData.append('enginroom', selectEnginroom);
        enginroomImagesData.append('user', user_id);

        // Create a function to handle image processing and uploading
        for (var i = 0; i < files.length; i++) {
            enginroomImagesData.append('images', files[i]);

            let images_reader = new FileReader();
            images_reader.onload = function (event) {
                var image_data = event.target.result
                imagesData.push(image_data);
                // console.log(imagesData)
                if (imagesData.length === files.length) {
                    // console.log(imagesData.length)
                    // // Convert the imagesData array to JSON and append it to FormData
                    enginroomImagesData.append('images_data', imagesData);

                    for (var pair of enginroomImagesData.entries()) {
                        console.log(pair[0] + ': ' + pair[1]);
                    }
                   
                    uploadImages(enginroomImagesData);
                }
            };
            images_reader.readAsDataURL(files[i]);
        }




        function uploadImages(enginroomImagesData) {
           
            $.ajax({
                url: '/api/enginroom-images/',
                method: 'POST',
                data: enginroomImagesData,
                processData: false,
                contentType: false, // Use false for file uploads
                headers: {
                    "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val(),
                },
                success: function (response) {
                    console.log('Images uploaded successfully', response);
                },
                error: function (error) {
                    console.error('Error uploading images', error.responseJSON);
                }
            });
        }
    });







</script>
{% endblock content %}