<!DOCTYPE html>
<html lang="fa" dir="rtl">
{% load static %}
{% block headcontent %}
{% include 'head.html' with title="Installers App| Dashboard" %}
{% endblock %}
<!-- /header content -->

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col hidden-print">
                <div class="left_col scroll-view">
                    {% include 'navbar.html'%}
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav hidden-print">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">
                                    <img id="user-profile" alt="">{{request.session.username}}<span
                                        class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                            </li>
                            <li><a href="/profile/"><i class="fa fa-user pull-right"></i>
                                    پروفایل</a></li>
                            <li><a href="/reset_password/{{request.session.user_id}}"><i class="fa fa-lock pull-right"></i>
                                    تغییر رمزعبور</a></li>
                            <hr>
                            <li><a id="logout" onclick="logout()"><i class="fa fa-sign-out pull-right"></i>
                                    خروج</a></li>
                        </ul>
                        </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- /header content -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>صفحه ساده</h3>
                        </div>

                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="جست و جو برای...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i
                                                class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>صفحه ساده</h2>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">

                                    <div class="x_title">

                                        <div class="col-md-3">

                                        </div>
                                        <div class="col-md-3">
                                            <label for="heard">شنیده ایم با <span class="required">*</span>:</label>
                                            <select id="heard" class="form-control" required>
                                                <option hidden></option>
                                                <option value="press">اخبار</option>
                                                <option value="net">اینترنت</option>
                                                <option value="mouth">دهان به دهان</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="heard">شنیده ایم با <span class="required">*</span>:</label>
                                            <select id="heard" class="form-control" required>
                                                <option hidden></option>
                                                <option value="press">اخبار</option>
                                                <option value="net">اینترنت</option>
                                                <option value="mouth">دهان به دهان</option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="x_content">

                                        <div class="input-group">
                                            <div class="form-group">
                                                {% csrf_token %}
                                                <label for="pageSizeSelect">تعداد موتورخانه را انتخاب کنید:</label>
                                                <select id="pageSizeSelect" class="form-control">
                                                    <option value="2">2</option>
                                                    <option value="5">5</option>
                                                    <option value="7">7</option>
                                                    <option value="all">All</option>
                                                    <!-- Add an option to select all enginrooms -->
                                                </select>
                                            </div>
                                        </div>

                                        <div id="maps" class="jumbotron" style="height: 700px;"> </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->

            <!-- /page content -->

            <!-- footer content -->
            <footer class="hidden-print">
                <div class="pull-left">
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <div id="lock_screen">
        <table>
            <tr>
                <td>
                    <div class="clock"></div>
                    <span class="unlock">
                        <span class="fa-stack fa-5x">
                            <i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
                            <i id="icon_lock" class="fa fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    {% include 'scripts.html' %}



    <script>
        $('select').select2();

        let totalCount;



        var map = L.map('maps').setView([35.6892, 51.3890], 6);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors <br> Romak system'
        }).addTo(map);

        var locationIcon = L.icon({
            iconUrl: "{% static 'images/icons8-location.png' %}",
            iconSize: [32, 32],
            iconAnchor: [16, 32],
        });

        $.ajax({
            type: "GET",
            url: "/api/enginroom/",

            success: function (response) {
                response.forEach(function (engineroom) {
                    if (engineroom.location) {
                        latlng = engineroom.location.split(',')
                        var marker = L.marker(latlng, {
                            icon: locationIcon,
                        }
                        ).addTo(map);
                        marker.bindPopup(`<a href="/enginroom-detail/${engineroom.id}"><h5>${engineroom.enginroom_name}</h5></a>`);

                    }
                })
            }
        });



        // Add event listener for marker clicks
        map.on('popupopen', function (e) {
            var marker = e.popup._source;
            // Handle marker click, show details to admin user
        });
    </script>
</body>

</html>